{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "airbnb-base"
  ],
  "plugins": ["prettier"],
  "rules": {
    "indent": ["error", 2, { "offsetTernaryExpressions": true }],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-console": ["warn"],
    "import/extensions": ["error", "always", { "ignorePackages": true }],
    "implicit-arrow-linebreak": ["error", "below"],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "arrowParens": "always",
        "endOfLine": "auto",
        "trailingComma": "all"
      }
    ]
  }
}
