@import './config';

.pet {
  margin-bottom: 1.5rem;
  border: 1px solid $light-grey;

  &__image {
    height: 300px;
    object-fit: cover;
  }

  &__body {
    text-align: center;

    &-name {
      color: $main-black;

      &:hover {
        color: $main-black;
      }
    }

    &-title {
      margin-bottom: 0.3rem;
    }
  }

  &__control-overlay {
    display: none;
  }
}

// ===== BREAKPOINTS =====

@include breakpoint-up(sm) {
  .pet {
    &__image {
      height: 260px;
    }
  }
}

@include breakpoint-up(md) {
  .pet {
    position: relative;

    &__image {
      height: 220px;
    }

    &__control {
      &-overlay {
        @include flexCenter();
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.6);
        visibility: hidden;
        opacity: 0;
        transition: all 200ms ease-out;
      }

      &-btn {
        padding: 0.6rem 1.6rem;
        font-size: 1.1rem;
        font-weight: 300;
      }
    }

    &:hover {
      .pet__control-overlay {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

@include breakpoint-up(lg) {
  .pet {
    &__image {
      height: 280px;
    }
  }
}

@include breakpoint-up(xl) {
  .pet {
    &__image {
      height: 320px;
    }
  }
}
