@import './config';

.pet {
  position: relative;
  margin-bottom: 1.5rem;
  border: 1px solid $light-grey;

  &__image {
    height: 300px;
    object-fit: cover;
  }

  &__body {
    text-align: center;

    &-name {
      color: $main-black;

      &:hover {
        color: $main-black;
      }
    }

    &-title {
      margin-bottom: 0.3rem;
    }
  }

  &__control {
    @include card-control();
  }
}

// ===== BREAKPOINTS =====

@include breakpoint-up(sm) {
  .pet {
    &__image {
      height: 260px;
    }
  }
}

@include breakpoint-up(md) {
  .pet {
    &__image {
      height: 220px;
    }
  }
}

@include breakpoint-up(lg) {
  .pet {
    &__image {
      height: 280px;
    }
  }
}

@include breakpoint-up(xl) {
  .pet {
    &__image {
      height: 320px;
    }
  }
}
