@import './config';

.pet {
  position: relative;
  margin-bottom: 1.5rem;
  border: 1px solid $light-grey;

  &__image {
    height: 300px;
    object-fit: cover;
  }

  &__body {
    text-align: center;

    &-name {
      color: $main-black;

      &:hover {
        color: $main-black;
      }
    }

    &-title {
      margin-bottom: 0.3rem;
    }
  }

  &__control {
    @include flexCenter();
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;

    &-btn {
      background-color: transparent;
      border: none;
      padding: 0.6rem 0.7rem;
      font-size: 1.2rem;
      color: $main-black;
    }
  }
}

// ===== BREAKPOINTS =====

@include breakpoint-up(sm) {
  .pet {
    &__image {
      height: 260px;
    }
  }
}

@include breakpoint-up(md) {
  .pet {
    &__image {
      height: 220px;
    }

    &__control {
      &-btn {
        color: rgba($main-black, 0.8);
        transition: all 200ms ease-out;

        &:hover {
          background-color: $main-black;
          color: white;
        }
      }
    }
  }
}

@include breakpoint-up(lg) {
  .pet {
    &__image {
      height: 280px;
    }
  }
}

@include breakpoint-up(xl) {
  .pet {
    &__image {
      height: 320px;
    }

    &__control {
      &-btn {
        font-size: 1.4rem;
      }
    }
  }
}
